* {
  margin: 0;
  padding: 2px;
  border: none;
  outline: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: normal;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.calculator {
  width: 500px;
  height: 500px;
  text-align: center;
  border-radius: 10px;
  background-color: #181C27;
}

.result {
  width: 400px;
  height: 50px;
  padding: 1px 8px;
  text-align: right;
  border-radius: 5px;
  background-color: #DCDBE1;
  font-size: 30px;
}

.reset-c {
  width: 45px;
  height: 50px;
  color: white;
  border-radius: 5px;
  background-color: #E63269;
  font-size: 30px;
}

.input-number {
  width: 130px;
  height: 50px;
  text-align: center;
  color: white;
  border-radius: 5px;
  background-color: #5F298A;
  font-size: 30px;
}

.input-number[value="="] {
  background-color: #E63269;
}

.last-number {
  width: 45px;
  height: 50px;
}

/* input[value='^'] {
  display: none;
} */

[type="button"] {
  transition: all .2s ease-in;
}

[type="button"]:hover {
  background-color: #E63269;
}

[value="C"]:hover, [value="="]:hover {
  color: black;
  outline: none;
  background-color: red;
}