* {
  outline: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: tomato;
}

.color {
  display: flex;
  position: relative;
  background-color: red;
  width: 400px;
  border-radius: 20px;
  height: 400px;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.btn {
  display: block;
  padding: 3%;
  background-color: white;
  position: absolute;
  top: 46%;
  left: 35%;
  outline: none;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.btn:hover {
  background-color: black;
  color: white;
}