* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: tomato;
}

.color {
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  background-color: red;
}

.btn {
  position: absolute;
  left: 35%;
  top: 46%;
  display: block;
  padding: 3%;
  cursor: pointer;
  transition: all .3s ease-in-out;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;
  background-color: white;
}

.btn:hover {
  color: white;
  background-color: black;
}